<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Needs -->
    <title>聯絡資訊 FAQ - Peter.Parker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/main-color.css" id="colors">
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header Container -->
    <header id="header-container">
        <div id="header" class="not-sticky">
            <div class="container">
                <!-- Left Side Content -->
                <div class="left-side">
                    <!-- Logo -->
                    <div id="logo">
                        <a href="index.html"><img src="images/Logo/Logo-09.png" alt=""></a>
                    </div>

                    <!-- Main Navigation -->
                    <nav id="navigation" class="style-1">
                        <ul id="responsive">
                            <li><a href="index.html">首頁</a></li>
                            <li><a href="news.html">最新消息</a></li>
                            <li><a href="contact.html">聯絡我們</a></li>
                            <li><a href="faq.html">聯絡資訊 FAQ</a></li>
                            <li><a href="how-to-use.html">如何使用</a></li>
                        </ul>
                    </nav>
                    <div class="clearfix"></div>
                </div>
                <!-- Left Side Content / End -->
            </div>
        </div>
    </header>
    <div class="clearfix"></div>
    <!-- Header Container / End -->

    <!-- FAQ Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>聯絡資訊 FAQ</h2>
                <div class="faq-section">
                    <h3>如何聯繫我們？</h3>
                    <p>peter@sample.com</p>
                    <p>02-1234-5678</p>
                    <p>您可以透過上方的聯絡表單與我們聯繫，或者直接寄送電子郵件至我們的客服信箱。</p>
                    
                    <h3>我們的客服時間是什麼時候？</h3>
                    <p>我們的客服團隊在週一至週五的上午 9 點到下午 6 點提供服務。</p>
                    
                    <h3>我可以如何追蹤我的詢問進度？</h3>
                    <p>我們會在收到您的訊息後儘快回覆，並提供相關的追蹤資訊。</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div id="footer" class="margin-top-15">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6">
                    <img class="footer-logo" src="images/Logo/Logo-09.png" alt="">
                    <br><br>
                </div>
                <div class="col-md-4 col-sm-6 ">
                    <ul class="footer-links">
                        <li><a href="#">業主登入</a></li>
                        <li><a href="news.html">最新消息</a></li>
                        <li><a href="contact.html">聯絡我們</a></li>
                        <li><a href="faq.html">聯絡資訊 FAQ</a></li>
                        <li><a href="how-to-use.html">如何使用</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Copyright -->
            <div class="row">
                <div class="col-md-12">
                    <div class="copyrights">&copy; 2024 Peter.Parker. All Rights Reserved.</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer / End -->

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    <!-- Scripts -->
    <script type="text/javascript" src="scripts/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="scripts/custom.js"></script>

</div>
<!-- Wrapper / End -->

</body>
</html>