<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Needs -->
    <title>中秋限定 | 充電不限金額訂單95折 - 詳細資訊</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/main-color.css" id="colors">
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header Container -->
    <header id="header-container">
        <div id="header" class="not-sticky">
            <div class="container">
                <!-- Left Side Content -->
                <div class="left-side">
                    <!-- Logo -->
                    <div id="logo">
                        <a href="index.html"><img src="images/Logo/Logo-09.png" alt=""></a>
                    </div>

                    <!-- Main Navigation -->
                    <nav id="navigation" class="style-1">
                        <ul id="responsive">
                            <li><a href="index.html">首頁</a></li>
                            <li><a href="news.html">最新消息</a></li>
                            <li><a href="contact.html">聯絡我們</a></li>
                            <li><a href="faq.html">聯絡資訊 FAQ</a></li>
                            <li><a href="how-to-use.html">如何使用</a></li>
                            <li><a href="how-to-use.html">如何使用</a></li>
                        </ul>
                    </nav>
                    <div class="clearfix"></div>
                </div>
                <!-- Left Side Content / End -->
            </div>
        </div>
    </header>
    <div class="clearfix"></div>
    <!-- Header Container / End -->

    <!-- Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>中秋限定 | 充電不限金額訂單95折 - 詳細資訊</h2>
                <p><strong>發布日期：</strong>2024 年 9 月 12 日</p>
                <p><strong>作者：</strong>Rita</p>
                <img src="images/moon.png" alt="中秋充電優惠" style="max-width: 600px; height: auto;">
                <h3>活動內容</h3>
                <p>但願人長久，優惠現在有！</p>
                <p>9/13 - 9/22 電動車主專屬優惠，輸入優惠碼【HMF95】即可享受充電95折優惠，滿額再抽免單。</p>
                <h3>活動詳情</h3>
                <ul>
                    <li>活動時間：2024 年 9 月 13 日 - 2024 年 9 月 22 日</li>
                    <li>優惠內容：不限金額訂單享受 95 折優惠</li>
                    <li>抽獎活動：充電滿額即有機會抽中全額免單</li>
                </ul>
                <h3>如何參加</h3>
                <p>於活動期間內，至參與活動的充電站進行充電並在結帳時輸入優惠碼【HMF95】，即可享受 95 折優惠。請注意，優惠僅限於活動期間使用。</p>
                <h3>注意事項</h3>
                <ul>
                    <li>本活動優惠僅限於電動車主使用，且每位用戶限使用一次。</li>
                    <li>本活動不可與其他優惠活動併用。</li>
                    <li>最終解釋權歸 Peter.Parker 所有。</li>
                </ul>
                <a href="news.html" class="button">返回最新消息</a>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div id="footer" class="margin-top-15">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6">
                    <img class="footer-logo" src="images/Logo/Logo-09.png" alt="">
                    <br><br>
                </div>
                <div class="col-md-4 col-sm-6 ">
                    <ul class="footer-links">
                        <li><a href="#">業主登入</a></li>
                        <li><a href="news.html">最新消息</a></li>
                        <li><a href="contact.html">聯絡我們</a></li>
                        <li><a href="faq.html">聯絡資訊 FAQ</a></li>
                        <li><a href="how-to-use.html">如何使用</a></li>
                        <li><a href="how-to-use.html">如何使用</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Copyright -->
            <div class="row">
                <div class="col-md-12">
                    <div class="copyrights">© 2024 Peter.Parker. All Rights Reserved.</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer / End -->

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    <!-- Scripts -->
    <script type="text/javascript" src="scripts/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="scripts/custom.js"></script>

</div>
<!-- Wrapper / End -->

</body>
</html>