<!DOCTYPE html>
<head>

<!-- Basic Page Needs -->
<title>最新消息 - Peter.Parker</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/main-color.css" id="colors">

</head>

<body>

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container -->
<header id="header-container">

    <!-- Header -->
    <div id="header" class="not-sticky">
        <div class="container">

            <!-- Left Side Content -->
            <div class="left-side">
                <!-- Logo -->
                <div id="logo">
                    <a href="index.html"><img src="images/Logo/Logo-09.png" alt=""></a>
                </div>

                <!-- Main Navigation -->
                <nav id="navigation" class="style-1">
                    <ul id="responsive">
                        <li><a href="index.html">首頁</a></li>
                        <li><a href="#">最新消息</a></li>
                        <li><a href="contact.html">聯絡我們</a></li>
                        <li><a href="faq.html">聯絡資訊 FAQ</a></li>
                        <li><a href="how-to-use.html">如何使用</a></li>
                    </ul>
                </nav>
                <div class="clearfix"></div>
                <!-- Main Navigation / End -->
            </div>
            <!-- Left Side Content / End -->

        </div>
    </div>
    <!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->

<!-- Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>最新消息</h2>
            <div id="news-list">
                <!-- News Item -->
                <a href="MidAutumnDetailPage.html" style="text-decoration: none; color: inherit;">
                    <div class="news-item">
                        <h3>中秋限定 | 充電不限金額訂單95折</h3>
                        <p><span>2024 年 9 月 12 日</span> - Rita - 好康報報</p>
                        <img src="images/moon.png" alt="中秋充電優惠" style="max-width: 300px; height: auto;">
                        <p>但願人長久，優惠現在有！<br>
                        9/13 - 9/22 電動車主專屬優惠。<br>
                        輸入優惠碼【HMF95】享充電95折，滿額再抽免單！</p>
                        <p>活動時間：2024/09/13 - 2024/09/22</p>
                    </div>
                </a>
                <!-- News Item -->
                <a href="AutumnMaintenanceDetailPage.html" style="text-decoration: none; color: inherit;">
                    <div class="news-item">
                        <h3>秋季保養優惠活動</h3>
                        <p><span>2024 年 9 月 20 日</span> - 好康報報</p>
                        <img src="images/CarMaintenance.png" alt="秋季保養優惠" style="max-width: 300px; height: auto;">
                        <p>秋季來臨，車輛保養別忘記！<br>
                        9/25 - 10/10 期間內，所有車主可享受全車保養85折優惠。</p>
                        <p>活動時間：2024/09/25 - 2024/10/10</p>
                    </div>
                </a>
                <!-- News Item -->
                <a href="NewLocationDetailPage.html" style="text-decoration: none; color: inherit;">
                    <div class="news-item">
                        <h3>新站點開幕優惠</h3>
                        <p><span>2024 年 10 月 1 日</span> - 好康報報</p>
                        <img src="images/grandopening.png" alt="新站點開幕" style="max-width: 300px; height: auto;">
                        <p>全新停車站點於台中正式開幕！<br>
                        10/1 - 10/15 期間，所有新用戶註冊可獲得免費停車券一張。</p>
                        <p>活動時間：2024/10/01 - 2024/10/15</p>
                    </div>
                </a>
                <!-- News Item -->
                <a href="SystemMaintenanceDetailPage.html" style="text-decoration: none; color: inherit;">
                    <div class="news-item">
                        <h3>系統維護通知</h3>
                        <p><span>2024 年 10 月 5 日</span> - 系統公告</p>
                        <img src="images/SystemMaintenance.png" alt="系統維護" style="max-width: 300px; height: auto;">
                        <p>我們將於2024年10月10日進行系統維護，期間服務可能會短暫中斷，請用戶見諒。</p>
                        <p>維護時間：2024/10/10 00:00 - 2024/10/10 06:00</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div id="footer" class="margin-top-15">
    <!-- Main -->
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6">
                <img class="footer-logo" src="images/Logo/Logo-09.png" alt="">
                <br><br>
            </div>
            <div class="col-md-4 col-sm-6 ">
                <ul class="footer-links">
                    <li><a href="#">業主登入</a></li>
                    <li><a href="#">最新消息</a></li>
                    <li><a href="contact.html">聯絡我們</a></li>
                    <li><a href="faq.html">聯絡資訊 FAQ</a></li>
                    <li><a href="how-to-use.html">如何使用</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- Copyright -->
        <div class="row">
            <div class="col-md-12">
                <div class="copyrights">© 2024 Peter.Parker. All Rights Reserved.</div>
            </div>
        </div>
    </div>
</div>
<!-- Footer / End -->

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

<!-- Scripts -->
<script type="text/javascript" src="scripts/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>

</body>
</html>